img {
    width: 100%;
    border-radius: 10px;
}

.watchlistcard{
    position: relative;
}
.watchlistcard:hover .FaEye_Icon{
    top: 80%;
    left: 35%;
    opacity: 1;
    transition: all 0.7s;
}
.watchlistcard:hover .FaTimes_Icon{
    top: 80%;
    left: 52%;
    opacity: 1;
    transition: all 0.7s;
}

.FaEye_Icon{
    position: absolute;
    top: 80%;
    left: 0%;
    background-color: rgba(37, 29, 29, .8);
    cursor: pointer;
    padding: 5px 10px ;
    opacity: 0;
    border: none;
    color: white;    
}
.FaEye_Icon:hover{
    color: green;
}
.FaTimes_Icon{
    position: absolute;
    top: 80%;
    left: 84%;
    background-color: rgba(37, 29, 29, .8);
    cursor: pointer;
    padding: 5px 10px;
    opacity: 0;
    border: none;
    color: white;
}

.FaTimes_Icon:hover{
    color: red;
}


@media(max-width:777px){
    .watchlistcard:hover .FaTimes_Icon{
        left: 50%;  
    }
    .watchlistcard:hover .FaEye_Icon{
        left: 28%;   
    }
}
@media(max-width:610px){
    .watchlistcard:hover .FaTimes_Icon{
        left: 49%;  
    }
    .watchlistcard:hover .FaEye_Icon{
        left: 35%;   
    }
}
@media(max-width:1113px){
    .watchlistcard:hover .FaTimes_Icon{
        left: 56%;  
    }
    .watchlistcard:hover .FaEye_Icon{
        left: 35%;   
    }
}

