.popular-card{
    width: 90%;
    position: relative;
}
.popular-img{
    width: 100%;
    margin-bottom: 10px;
}
.popular-img img{
    width: 100%;
    cursor: pointer;
}
.popular-info{
    text-align: center;
} 
.popular-info h3 {
    font-size: 14px;
}
.popular-info h4 {
    font-size: 12px;
}
.controls{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    margin-top: 60px;
    transition: all 0.7s;
}
.controls .btn{
    border: none;
    background-color: #6ac045;
    margin-bottom: 10px;
    font-size: 15px;
    width: 100%;
    padding: 6px 0px;  
  }
  .controls .btn:hover{
      background-color: #5da93c;
  }
  
  
  .popular-card:hover .controls{
     opacity: 1;
     margin-top: 40px;
  }
  .popular-card:hover .popular-img img{
     opacity: .5;
   
  }

  @media(max-width:622px){
 
    .results .popular-card{
        
        margin-left: 10px;  
    }
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: 20px;
     }
}
  @media(max-width:1199px){
 
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: 20px;
     }
     .controls-title{
        font-size: 13px;
     }
}
  @media(max-width:991px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: -15px;
     }
  .controls{
    width: 68%;
  }

}

  @media(max-width:540px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: 30px;
     }
  .controls{
    width: 50%;
  }

}
  @media(max-width:504px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: 10px;
     }
  .controls{
    width: 50%;
  }

}
  @media(max-width:488px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: 0px;
     }
  .controls{
    width: 50%;
  }

}
  @media(max-width:450px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: -10px;
     }
  .controls{
    width: 60%;
  }

}
  @media(max-width:421px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: 15px;
     }
  .controls{
    width: 70%;
  }
  .popular-info h3 {
    font-size: 10px;
}

.controls .btn {
    font-size: 10px;
}
.controls-title {
  font-size: 10px;
}
.controls .btn {

  padding: 1px 0px;
}
}
  @media(max-width:361px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: 0px;
     }
  .controls{
    width: 75%;
  }

}
  @media(max-width:330px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: 0px;
     }
  .controls{
    width: 60%;
  }
  .popular-info h3 {
    font-size: 10px;
}

.controls .btn {
    font-size: 10px;
}
.controls-title {
  font-size: 10px;
}
.controls .btn {

  padding: 1px 0px;
}
}
  @media(max-width:295px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: -15px;
     }
  .controls{
    width: 50%;
  }
  .controls{
    width: 60%;
  }
  .popular-info h3 {
    font-size: 10px;
}

.controls .btn {
    font-size: 8px;
}
.controls-title {
  margin-bottom: 5px;
}

}
  @media(max-width:280px){
    .popular-card:hover .controls{
        opacity: 1;
        margin-top: -10px;
     }
  .controls{
    width: 60%;
  }
  .controls-title {
    font-size: 8px;
    margin-bottom: 2px;
  }
  .popular-info h3 {
    font-size: 8px;
}
.controls .btn {
  margin-bottom: 0;
  padding: 1px 0px;
}
}





/* Modal Popup Style */

.modal-content{
    background-color: #1d1d1d;
}

.btn-close{
    background-color: rgb(187, 54, 54) !important;
}

.modal-header{
    border-bottom: var(--bs-modal-header-border-width) solid #212529;
}

.modal-footer{
    border-top: var(--bs-modal-header-border-width) solid #212529;
}
.model_popup img{
  width: 200px;
  margin-bottom: 10px;
}

.model_popup{
    display: flex;
    gap: 15px;
}

.model_popup_info{
   margin-top: 20px;
   display: flex;
   flex-direction: column;
}


.overview{
    margin-top: 20px;
}
@media(max-width:375px){
  .model_popup_info h3{
    font-size: 14px;
  }
  .model_popup_info h6{
    font-size: 14px;
  }
}
@media(max-width:367px){
  .model_popup{
    display: block;
    gap: 15px;
}

.model_popup img{
  width: 100%;
  margin-bottom: 10px;
}
.modal-title h3{
  font-size: 15px;
}
.modal-body h5{
  font-size: 16px;
}
.modal-body .overview{
  font-size: 18px;
}
}