.rated_movie{
    cursor: pointer;
    position: relative;
}
.rated_info{
  text-align: center;
  margin-top: 10px;
}

.rated_info h3{
  font-size: 18px;
}

.rated_movie button{
    opacity: 0;
    padding: 0;
    color: transparent;
    border: none;
   }
   @media(max-width:421px){
    .rated_info h3{
      font-size: 10px;
    }
   }
   @media(max-width:280px){
    .rated_info h3{
      font-size: 10px;
    }
   }