
.rated_img img{
    width: 100%;
    border-radius: 20px;
}
.rated_info{
    display: grid;
    justify-self: flex-end;
}

.header-WillFerrell{
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  opacity: .7;
}